[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
default-time-zone = '+8:00'

# 最大链接数
max_connections=1024

# 是否对sql语句大小写敏感，1表示不敏感
lower_case_table_names=1
log_bin_trust_function_creators=1
# 启用log-bin
log-bin=mysql-bin

# 设置日志格式
binlog_format=mixed

# 设置binlog清理时间
expire_logs_days=7

# 数据表默认时区
default-time-zone='+08:00'

# Custom config should go here
!includedir /etc/mysql/conf.d/
